@charset "UTF-8";

.page_wrapper {
    position: relative;
    background: #303030;
    color: #fff;
    padding-top: 100px;
}

.back_border {
    background: radial-gradient(closest-side,rgba(255,255,255,.2),transparent);
    background-size: 130% 110%;
    background-position: center;
}

/* sub0 기립성저혈압*/
.sub0 .tit {
    width: 33%;
    margin-right: 1px;
    background: #303030;
    font-size: 30px;
    padding: 36px 0 48px;
}

.sub0 .desc {
    width: 67%;
    background: #303030;
    padding: 36px 0 48px 36px;
}

.sub0 .content0, .sub0 .content1 {
    display: flex;
    margin-bottom: 1px;
}

    .sub0 .content1 .desc {
        display: flex;
        flex-wrap: wrap;
    }

    .sub0 .content1 .ico_box {
        width: 50%;
        text-align: center;
        margin-bottom: 48px;
    }

.svg_wrap {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
}

.svg0 {
    max-width: 130px;
}

#ico0_2.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s;
    animation-fill-mode: forwards;
    opacity: 1
}

#ico0_1.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .3s;
    animation-fill-mode: forwards;
    opacity: 1
}

#ico0_0.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .4s;
    animation-fill-mode: forwards;
    opacity: 1
}

#ico0_3.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .5s;
    animation-fill-mode: forwards;
    opacity: 1
}

#ico0_4.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .5s;
    animation-fill-mode: forwards;
    opacity: 1
}

#ico0_5.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .8s;
    animation-fill-mode: forwards;
    opacity: 1
}

.svg1 {
    max-width: 118px;
}

#ico1_0.ani {
    stroke-dasharray: 164%;
    stroke-dashoffset: 100%;
    animation: dash 1s;
    animation-fill-mode: forwards;
    opacity: 1
}

#ico1_2.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .3s;
    animation-fill-mode: forwards;
}

#ico1_1.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .4s;
    animation-fill-mode: forwards;
    opacity: 1
}

#ico1_3.ani {
    stroke-dasharray: 112%;
    stroke-dashoffset: 112%;
    animation: dash 0.5s .5s;
    animation-fill-mode: forwards;
    opacity: 1
}

#ico1_4.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .8s;
    animation-fill-mode: forwards;
    opacity: 1
}

.svg2 {
    max-width: 78px;
}

#ico2_0.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.8s;
    animation-fill-mode: forwards;
}

#ico2_1.ani {
    stroke-dasharray: 256%;
    stroke-dashoffset: 256%;
    animation: dash .8s .3s;
    animation-fill-mode: forwards;
    opacity: 1
}

#ico2_1-2.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .8s;
    animation-fill-mode: forwards;
    opacity: 1
}

#ico1_3.ani {
    stroke-dasharray: 112%;
    stroke-dashoffset: 112%;
    animation: dash 0.5s .5s;
    animation-fill-mode: forwards;
    opacity: 1
}

#ico1_4.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .8s;
    animation-fill-mode: forwards;
    opacity: 1
}

.svg3 {
    max-width: 110px;
}

#ico3_0.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.8s;
    animation-fill-mode: forwards;
}

#ico3_1.ani {
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%;
    animation: dash 1s .5s;
    animation-fill-mode: forwards;
    opacity: 1
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        opacity: 1
    }
}

.sub0 .content2 {
    display: flex;
    margin-bottom: 1px;
}

    .sub0 .content2 .layout_l {
        width: 67%;
    }

    .sub0 .content2 .layout_r {
        width: 33%;
        vertical-align: middle;
        text-align: right;
        padding-top: 36px;
        background: #303030;
    }

        .sub0 .content2 .layout_r img {
            max-width: 160px;
        }

    .sub0 .content2 .tit {
        width: 100%;
        padding-bottom: 8px;
    }

    .sub0 .content2 .desc {
        width: 100%;
        padding-top: 8px;
        padding-left: 0;
    }

.sub0 .content2_1 {
    display: flex;
    background: #303030;
    padding-bottom: 48px;
}

    .sub0 .content2_1 .layout_l {
        width: 62%;
        margin-right: 16px;
    }

    .sub0 .content2_1 .layout_r {
        width: 38%;
    }

        .sub0 .content2_1 .layout_r img {
            margin-bottom: 16px;
        }

/* media query */
@media (max-width: 767px) {
    .sub0 .tit {
        width: 100%;
        margin-right: 0;
        padding-bottom: 12px;
    }

    .sub0 .desc {
        width: 100%;
        padding: 0 0 60px;
    }

    .sub0 .content0, .sub0 .content1 {
        flex-direction: column;
    }

    .sub0 .content2 {
        flex-direction: column;
    }

        .sub0 .content2 .layout_l, .sub0 .content2 .layout_r {
            width: 100%;
        }

        .sub0 .content2 .layout_r {
            padding-top: 0;
        }

        .sub0 .content2 .desc {
            padding-bottom: 24px;
        }

        .sub0 .content2 .layout_r img {
            max-width: 120px;
        }

    .sub0 .content2_1 {
        flex-direction: column;
    }

        .sub0 .content2_1 .layout_l {
            width: 100%;
            margin-right: 0;
            margin-bottom: 16px;
        }

        .sub0 .content2_1 .layout_r {
            width: 100%;
        }
}

/* sub1 */
.sub1 .content0 {
    background: #303030;
    margin-bottom: 1px;
    padding-top: 36px;
    padding-bottom: 48px;
}

    .sub1 .content0 .tit {
        font-size: 30px;
        padding-bottom: 16px;
    }

.sub1 .content1 {
    display: flex;
    margin-bottom: 1px;
}

    .sub1 .content1 .article {
        width: 67%;
        background: #303030;
        margin-right: 1px;
    }
    .article img{
        vertical-align:middle;
    }

    .sub1 .content1 .desc {
        width: 33%;
        background: #303030;
        padding: 36px 0 0 36px;
    }

        .sub1 .content1 .desc .bold {
            position: relative;
            font-weight: 600;
            font-size: 20px;
            padding-bottom: 12px;
            display: inline-block;
            z-index: 1;
        }

            .sub1 .content1 .desc .bold:before {
                position: absolute;
                content: '';
                width: 100%;
                height: 26px;
                background: rgba(255,179,0,1);
                bottom: 12px;
                z-index: -1;
            }

.sub1 .content2 {
    display: flex;
}

    .sub1 .content2 .tit {
        width: 33%;
        margin-right: 1px;
        font-size: 30px;
        padding: 36px 0 48px;
        background: #303030;
    }

    .sub1 .content2 .desc {
        position:relative;
        width: 67%;
        padding: 36px 0 48px 36px;
        background: #303030;
        display:flex;
        align-items:center;
        justify-content:space-around;
    }
        .sub1 .content2 .desc.ani:after {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #303030;
            content: '';
            animation: slide 1s ease-in-out;
            animation-fill-mode: forwards;
            bottom:0;
            right:0;
        }

@keyframes slide {
    to {
        width:0;
    }
}

.s1_svg0{
    width:50%;
    max-width:100px;
}

.s1_svg1 {
    max-width: 94px;
}
.sub1 .content2 .ico_plus{
    width:50px;
}
.sub1 .content2 .cont_box{
    width:40%;
    min-width:200px;
}
.sub1 .content2 .tit_box {
    background: rgba(255,179,0,1);
    padding: 12px 0;
    border-radius: 12px 12px 0 0;
    color: #303030;
    text-align: center;
}
.sub1 .content2 .text_box {
    background: rgba(255,255,255,0.05);
    padding: 16px 24px;
    border-radius: 0 0 12px 12px;
}

/* media query */
@media (max-width: 767px) {
    .sub1 .content1 {
        flex-direction: column;
    }
        .sub1 .content1 .article {
            width: 100%;
        }
        .sub1 .content1 .desc {
            width: 100%;
            padding: 36px 0;
        }
    .sub1 .content2{
        flex-direction:column;
    }
        .sub1 .content2 .tit{
            width:100%;
            padding-bottom:24px;
            margin-right:0;
        }
        .sub1 .content2 .desc {
            width: 100%;
            padding: 0 0 48px 0;
            flex-direction: column;
        }
        .sub1 .content2 .ico_plus{
            transform:rotate(90deg);
            margin-top:24px;
        }

    @keyframes slide {
        to {
            height: 0;
        }
    }
}