@charset "UTF-8";

.page_wrapper {
    position: relative;
    background: #303030;
    color: #fff;
    padding-top: 100px;
}

.back_border {
    background: radial-gradient(closest-side,rgba(255,255,255,.2),transparent);
    background-size: 130% 110%;
    background-position: center;
}

/* sub0 기립성저혈압*/
.sub0 .tit {
    width: 33%;
    margin-right: 1px;
    background: #303030;
    font-size: 30px;
    padding: 36px 0 48px;
}

.sub0 .desc {
    width: 67%;
    background: #303030;
    padding: 36px 0 48px 36px;
}

.sub0 .content0, .sub0 .content1 {
    display: flex;
    margin-bottom: 1px;
}

    .sub0 .content1 .desc {
        display: flex;
        flex-wrap: wrap;
    }

    .sub0 .content1 .ico_box {
        width: 50%;
        text-align: center;
        margin-bottom: 48px;
    }

.svg_wrap {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
}

.svg0 {
    max-width: 130px;
}

#ico0_2.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s;
    animation-fill-mode: forwards;
    opacity: 0
}

#ico0_1.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .3s;
    animation-fill-mode: forwards;
    opacity: 0
}

#ico0_0.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .4s;
    animation-fill-mode: forwards;
    opacity: 0
}

#ico0_3.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .5s;
    animation-fill-mode: forwards;
    opacity: 0
}

#ico0_4.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .5s;
    animation-fill-mode: forwards;
    opacity: 0
}

#ico0_5.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .8s;
    animation-fill-mode: forwards;
    opacity: 0
}

.svg1 {
    max-width: 118px;
}

#ico1_0.ani {
    stroke-dasharray: 164%;
    stroke-dashoffset: 100%;
    animation: dash 1s;
    animation-fill-mode: forwards;
    opacity: 0
}

#ico1_2.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .3s;
    animation-fill-mode: forwards;
}

#ico1_1.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .4s;
    animation-fill-mode: forwards;
    opacity: 0
}

#ico1_3.ani {
    stroke-dasharray: 112%;
    stroke-dashoffset: 112%;
    animation: dash 0.5s .5s;
    animation-fill-mode: forwards;
    opacity: 0
}

#ico1_4.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .8s;
    animation-fill-mode: forwards;
    opacity: 0
}

.svg2 {
    max-width: 78px;
}

#ico2_0.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.8s;
    animation-fill-mode: forwards;
}

#ico2_1.ani {
    stroke-dasharray: 256%;
    stroke-dashoffset: 256%;
    animation: dash .8s .3s;
    animation-fill-mode: forwards;
    opacity: 0
}

#ico2_1-2.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .8s;
    animation-fill-mode: forwards;
    opacity: 0
}

#ico1_3.ani {
    stroke-dasharray: 112%;
    stroke-dashoffset: 112%;
    animation: dash 0.5s .5s;
    animation-fill-mode: forwards;
    opacity: 0
}

#ico1_4.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.5s .8s;
    animation-fill-mode: forwards;
    opacity: 0
}

.svg3 {
    max-width: 110px;
}

#ico3_0.ani {
    stroke-dasharray: 100%;
    stroke-dashoffset: 100%;
    animation: dash 0.8s;
    animation-fill-mode: forwards;
}

#ico3_1.ani {
    stroke-dasharray: 400%;
    stroke-dashoffset: 400%;
    animation: dash 1s .5s;
    animation-fill-mode: forwards;
    opacity: 0
}

@keyframes dash {
    to {
        stroke-dashoffset: 0;
        opacity: 1
    }
}

.sub0 .content2 {
    display: flex;
    margin-bottom: 1px;
}

    .sub0 .content2 .layout_l {
        width: 33%;
        margin-right: 1px;
        background: #303030;
    }

    .sub0 .content2 .layout_r {
        width: 67%;
        background: #303030;
        padding: 36px 0 0 36px;
    }

    .sub0 .content2 .layout {
        display: flex;
        padding-top: 36px;
    }

    .sub0 .content2 .img_ku {
        max-width: 160px;
    }

    .sub0 .content2 .img_certi {
        width: 60%;
        max-width: 440px;
        margin-right: 16px;
    }

    .sub0 .content2 .tit {
        width: 100%;
        padding-bottom: 8px;
    }

    .sub0 .content2 .desc {
        width: 100%;
        padding-top: 8px;
        padding-left: 0;
    }


.sub0 .content2_1 {
    display: flex;
    flex-direction: column;
    background: #303030;
    padding-bottom: 48px;
    padding-top: 24px;
}

    .sub0 .content2_1 .layout_l {
        margin-bottom: 8px;
    }

    .sub0 .content2_1 .layout_r {
        padding: 0 4%;
        display: flex;
        justify-content: space-between;
        text-align: center;
    }

        .sub0 .content2_1 .layout_r p {
            width: 150px;
        }
    .sub0 .content2_1 .img_col{
        display:none;
    }
    /* media query */
    @media (max-width: 767px) {
        .sub0 .tit {
        width: 100%;
        margin-right: 0;
        padding-bottom: 12px;
    }

    .sub0 .desc {
        width: 100%;
        padding: 0 0 60px;
    }

    .sub0 .content0, .sub0 .content1 {
        flex-direction: column;
    }

    .sub0 .content2 {
        flex-direction: column;
    }

        .sub0 .content2 .layout_l, .sub0 .content2 .layout_r {
            width: 100%;
        }

        .sub0 .content2 .layout_r {
            padding-top: 0;
            padding-left: 0;
        }

        .sub0 .content2 .desc {
            padding-bottom: 24px;
        }

        .sub0 .content2 .layout_r .img_ku {
            max-width: 120px;
        }

    .sub0 .content2_1 {
        flex-direction: row;
        justify-content:center;
    }

        .sub0 .content2_1 .layout_r p {
            width: auto;
        }

        .sub0 .content2_1 .layout_r {
            flex-direction: column;
            width: auto;
            padding:16% 0 16% 16px;
            text-align:left;
        }
        .sub0 .content2_1 .img_col {
            display: block;
            max-width:252px;
        }
        .sub0 .content2_1 .img_row {
            display: none;
        }
}

/* sub1 */
.sub1 .content0 {
    background: #303030;
    margin-bottom: 1px;
    padding-top: 36px;
    padding-bottom: 48px;
}

    .sub1 .content0 .tit {
        font-size: 30px;
        padding-bottom: 16px;
    }

.sub1 .content1 {
    display: flex;
    margin-bottom: 1px;
}

    .sub1 .content1 .article {
        width: 67%;
        background: #303030;
        margin-right: 1px;
    }

.article img {
    vertical-align: middle;
}

.sub1 .content1 .desc {
    width: 33%;
    background: #303030;
    padding: 36px 0 0 36px;
}

    .sub1 .content1 .desc .bold {
        position: relative;
        font-weight: 600;
        font-size: 20px;
        padding-bottom: 12px;
        display: inline-block;
        z-index: 1;
    }

        .sub1 .content1 .desc .bold:before {
            position: absolute;
            content: '';
            width: 100%;
            height: 26px;
            background: rgba(255,179,0,1);
            bottom: 12px;
            z-index: -1;
        }

.sub1 .content2 {
    display: flex;
}

    .sub1 .content2 .tit {
        width: 33%;
        margin-right: 1px;
        font-size: 30px;
        padding: 36px 0 48px;
        background: #303030;
    }

    .sub1 .content2 .desc {
        position: relative;
        width: 67%;
        padding: 36px 0 48px 36px;
        background: #303030;
        display: flex;
        align-items: center;
        justify-content: space-around;
    }

        .sub1 .content2 .desc.ani:after {
            position: absolute;
            width: 100%;
            height: 100%;
            background: #303030;
            content: '';
            animation: slide 1s ease-in-out;
            animation-fill-mode: forwards;
            bottom: 0;
            right: 0;
        }

@keyframes slide {
    to {
        width: 0;
    }
}

.s1_svg0 {
    width: 50%;
    max-width: 100px;
}

.s1_svg1 {
    max-width: 94px;
}

.sub1 .content2 .ico_plus {
    width: 50px;
}

.sub1 .content2 .cont_box {
    width: 40%;
    min-width: 200px;
}

.sub1 .content2 .tit_box {
    background: rgba(255,179,0,1);
    padding: 12px 0;
    border-radius: 12px 12px 0 0;
    color: #303030;
    text-align: center;
}

.sub1 .content2 .text_box {
    background: rgba(255,255,255,0.05);
    padding: 16px 24px;
    border-radius: 0 0 12px 12px;
}

/* media query */
@media (max-width: 767px) {
    .sub1 .content1 {
        flex-direction: column;
    }

        .sub1 .content1 .article {
            width: 100%;
        }

        .sub1 .content1 .desc {
            width: 100%;
            padding: 36px 0;
        }

    .sub1 .content2 {
        flex-direction: column;
    }

        .sub1 .content2 .tit {
            width: 100%;
            padding-bottom: 24px;
            margin-right: 0;
        }

        .sub1 .content2 .desc {
            width: 100%;
            padding: 0 0 48px 0;
            flex-direction: column;
        }

        .sub1 .content2 .ico_plus {
            transform: rotate(90deg);
            margin-top: 24px;
        }

    @keyframes slide {
        to {
            height: 0;
        }
    }
}

/* notice */
.notice {
}

    .notice .top {
        padding: 140px 0 60px;
        background: #303030;
        color: #fff;
    }

        .notice .top .tit {
            font-weight: bold;
            font-size: 36px;
            color: #fff;
        }

        .notice .top .sub {
            color: rgba(255,255,255,.9)
        }

.board {
    padding: 60px 0;
}

    .board .layout {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }

    .board .card {
        width: 31%;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0,0,0,.1);
        margin-bottom: 60px;
        cursor: pointer;
    }

        .board .card:hover {
            -webkit-transition: all .3s ease;
            transition: all .3s ease;
            -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
            -ms-transform: translateY(-5px);
            box-shadow: 4px 12px 20px 6px rgba(0,0, 0, 0.18);
        }

        .board .card .img_wrap {
            position: relative;
            width: 100%;
            padding-bottom: 100%;
            overflow: hidden;
            border-radius: 12px 12px 0 0;
        }

            .board .card .img_wrap img {
                position: absolute;
                max-height: 100%;
                height: auto;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                margin: auto;
            }

        .board .card .text_wrap {
            padding: 16px;
        }

        .board .card .category, .notice.desc .category {
            display: inline-block;
            font-size: 14px;
            padding: 4px 10px;
            background: rgba(255,179,0,1);
            border-radius: 35px;
        }

        .board .card .text_wrap .flex {
            display: flex;
            justify-content: space-between;
            margin-bottom: 8px;
        }

        .board .card .text_wrap .date {
            font-size: 14px;
            color: #606060;
        }

        .board .card .text_wrap .title {
            font-size: 24px;
            text-overflow: ellipsis;
            white-space: nowrap;
            overflow: hidden;
            margin-bottom: 4px;
        }

        .board .card .text_wrap .preview {
            width: 100%;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            font-size: 16px;
            line-height: 26px;
            max-height: calc(26px * 2);
        }

.pagenation {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .pagenation .btn {
        width: 40px;
        height: 40px;
        cursor: pointer;
        border-radius: 20px;
        overflow: hidden;
    }

    .pagenation .btn_prev {
        background: url(../img/btn_prev.png) no-repeat center center;
        background-size: 100%;
    }

    .pagenation .btn_next {
        background: url(../img/btn_next.png) no-repeat center center;
        background-size: 100%;
    }

    .pagenation .btn:hover {
        box-shadow: 0 4px 10px rgba(0,0,0,.05);
    }

    .pagenation .btn_page {
        width: 40px;
        height: 40px;
        line-height: 40px;
        color: #606060;
        text-align: center;
        cursor: pointer;
    }

        .pagenation .btn_page:hover {
            text-decoration: underline;
        }

.btn_back {
    height: 52px;
    line-height: 52px;
    width: 200px;
    border-radius: 30px;
    text-align: center;
    border: 2px solid #FFB300;
    margin: 60px auto;
    cursor: pointer;
    transition: color 0.5s, transform 0.2s, background-color 0.2s;
    color: #FFB300;
}

    .btn_back:hover {
        background: #FFB300;
        color: #303030;
    }
/* media query */
@media (max-width: 960px) {
    .board .card {
        width: 49%;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0,0,0,.1);
        margin-bottom: 60px;
        cursor: pointer;
    }
}

@media (max-width: 767px) {
    .board .card {
        width: 100%;
        border-radius: 12px;
        box-shadow: 0 0 20px rgba(0,0,0,.1);
        margin-bottom: 60px;
        cursor: pointer;
    }
}

/* notice_desc */
.notice.desc .top .tit {
    margin-bottom: 12px;
}

.board_desc {
    padding: 60px 0;
}

    .board_desc .img_wrap {
        max-width: 600px;
        margin: 0 auto;
        margin-bottom: 24px;
    }
